:root {
  --icon-color: #f1a600;
  --body-color: #1f1d2c;
  --containers-color: #242635;
  --letter-color: #e5e5e5;
  --nose-hahah: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}
body {
  padding: 0px;
  font-family: "Inter", sans-serif;
  background-color: #1f1d2c;
  margin: 0px;
}

/*NAV*/
#hero button {
  display: none;
}
#hero .menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
}
#hero {
  font-size: larger;
  display: flex;
  justify-content: end;
  height: 0px;
  width: 90%;
  margin: 2px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}
#hero a {
  text-decoration: none;
}
#hero a:hover {
  color: #f1a600;
}
#hero .casa {
  color: #f1a600;
  cursor: none;
}
#hero .navi {
  color: #e5e5e5;
}
/*HEADER*/
header {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  height: 630px;
  /* overflow: hidden;*/
}
.one {
  display: flex;
  flex-direction: column;
}
.one h1 {
  font-size: 60px;
  height: 0px;
  color: #ffffff;
}
.one .parrafo1 {
  font-size: 30px;
  height: 50px;
  color: #ffffff;
}
.one .parrafo2 {
  font-size: 30px;
  color: #ffffff;
}
.one .parrafo2 .Coldiferent {
  color: #f1a600;
}
.one .iconitos {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  position: relative;
  right: 70px;
}
.one .icons {
  color: #f1a600;
}
.padre .box {
  height: 720px;
  width: 430px;
  background-color: #242635;
  position: relative;
  left: 29%;
  margin-top: -122px;
}
.padre {
  position: relative;
}
.padre .two img {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0%;
  margin-top: 30px;
  z-index: 10;
}
.box {
  color: #242635;
}

/*MAIN*/
/*ACERCA DE MI*/
#acercami {
  text-align: center;
  margin: 0px;
}
#acercami h2 {
  font-size: 35px;
  color: #ffffff;
  padding: 30px;
}
#acercami .acerca-de-mi {
  margin-top: -30px;
  text-align: center;
  font-size: 1rem;
}
#acercami p {
  font-size: 19px;
  color: #ffffff;
}
#acercami .boxing {
  display: flex;
  justify-content: space-evenly;
}
.boxing .name {
  font-size: 28px;
}
.boxing .fecha {
  font-size: 17px;
  margin-top: -20px;
}
#acercami .box2 img {
  height: 150px;
  width: 180px;
  font-size: 100%;
}
.yeii {
  background-color: #242635;
  height: 580px;
}

/*EXPERIENCIA*/
#experiencia {
  padding: 10px;
  margin: 90px;
  text-align: center;
}
#experiencia .box1 {
  display: flex;
  justify-content: center;
  gap: 150px;
}
#experiencia .box2 {
  display: flex;
  justify-content: center;
  gap: 160px;
}
#experiencia .box3 {
  display: flex;
  justify-content: center;
  gap: 140px;
}
#experiencia h2 {
  color: #ffffff;
  font-size: 35px;
  height: 90px;
}
#experiencia .box1 .img {
  height: 150px;
}
#experiencia .box2 .img {
  height: 170px;
}
#experiencia .box3 .img {
  height: 0px;
}
#experiencia .box1 .info {
  color: #ffffff;
  text-align: start;
  position: relative;
  left: -80px;
  bottom: 40px;
}
#experiencia .box2 .info {
  color: #ffffff;
  text-align: start;
  position: relative;
  left: -90px;
  bottom: 40px;
}
#experiencia .box3 .info {
  color: #ffffff;
  text-align: start;
  position: relative;
  left: -70px;
  bottom: 40px;
}
#experiencia .box1 .info h3 {
  font-size: 29px;
  position: relative;
  top: 25px;
}
#experiencia .box2 .info h3 {
  font-size: 29px;
  position: relative;
  top: 23px;
}
#experiencia .box3 .info h3 {
  font-size: 29px;
  position: relative;
  top: 23px;
}
#experiencia .box1 .info p {
  font-size: 13px;
  position: relative;
  bottom: 15px;
}
#experiencia .box2 .info p {
  font-size: 13px;
  position: relative;
  bottom: 15px;
}
#experiencia .box3 .info p {
  font-size: 13px;
  position: relative;
  bottom: 15px;
}
#experiencia .box1 .year {
  color: #ffffff;
  font-size: 30px;
}
#experiencia .box2 .year {
  color: #ffffff;
  font-size: 30px;
}
#experiencia .box3 .year {
  color: #ffffff;
  font-size: 30px;
}

/*MIS HABILIDADES*/
#mishabilidades {
  padding: 0px;
  display: flex;
  justify-content: center;
}
#mishabilidades h2 {
  text-align: center;
  font-size: 35px;
  color: #ffffff;
}
#mishabilidades .contenido .porcentaje {
  display: flex;
  gap: 100px;
  position: relative;
  bottom: 50px;
  right: 110px;
  height: 110px;
}
#mishabilidades .contenido .porcentaje h3 {
  color: #f1a600;
  font-size: 80px;
}
#mishabilidades .contenido .porcentaje p {
  color: #ffffff;
  font-size: 30px;
  position: relative;
  top: 90px;
}
#mishabilidades .cuadrado {
  height: 630px;
  width: 700px;
  background-color: #242635;
  position: relative;
  left: -323px;
}
.global {
  position: relative;
}
#mishabilidades .global .contenido {
  position: absolute;
  z-index: 10;
}
/*MI PORTAFOLIO*/
#miportafolio {
  margin: 10px;
  padding: 100px;
}
#miportafolio h2 {
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  height: 80px;
}
#miportafolio .imges {
  display: flex;
  gap: 33px;
  flex-wrap: wrap;
}
#miportafolio .img1 {
  position: relative;
}
#miportafolio .imgi {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}
#miportafolio .imgi img {
  height: 377px;
  width: 520px;
}
.boxii {
  height: 370px;
  width: 560px;
  background-color: #f1a600;
}
#miportafolio .img2 {
  position: relative;
}
#miportafolio .imigu img {
  position: absolute;
  height: 370px;
  width: 494px;
  margin-top: 20px;
  margin-left: 20px;
}
.boxuu {
  height: 350px;
  width: 530px;
  background-color: #242635;
}
#miportafolio .img3 {
  position: relative;
  margin-top: 180px;
  margin-left: 18px;
}
#miportafolio .imige .img {
  position: absolute;
  margin-left: 10px;
}
#miportafolio .img3 .imige img {
  height: 390px;
  width: 520px;
}
.boxee {
  height: 370px;
  width: 560px;
  background-color: #f1a600;
  margin-top: -410px;
  margin-left: -20px;
}
/*FOOTER*/
#footer {
  padding: 0px;
  margin: 0px;
}
#footer .fot {
  background-color: #242635;
  justify-content: center;
}
.fot h2 {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  padding: 40px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 250px;
}
#footer .container .number {
  height: 230px;
  width: 200px;
  text-align: center;
}
.number img {
  height: 80px;
  width: 80px;
}
.number h3 {
  color: #ffffff;
  font-size: 22px;
}
.number p {
  color: #ffffff;
  margin-top: -15px;
}
#footer .container .email {
  height: 200px;
  width: 200px;
  text-align: center;
}
.email img {
  height: 80px;
  width: 80px;
}
.email h3 {
  color: #ffffff;
  font-size: 22px;
}
.email p {
  color: #ffffff;
  margin-top: -15px;
}
/*FINAL*/
.ultimo {
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  height: 70px;
  padding: 9px;
}

/*RESPONSIVE*/
/*1076*/
@media (min-width: 1076px) {
  header .padre .box {
    height: 720px;
    width: 430px;
    background-color: #242635;
    position: relative;
    left: 25%;
    margin-top: -122px;
  }
}
/*992*/
@media (max-width: 992px) {
  * {
    padding: 0;
  }
  #hero button {
    display: none;
  }
  #hero .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -10px;
    gap: 30px;
    list-style-type: none;
    font-size: 18px;
  }
  header {
    height: 500px;
    margin: 0;
  }
  header .padre .box {
    height: 120%;
    left: 7%;
    overflow: hidden;
  }
  .padre .two img {
    width: 400px;
    height: 400px;
    margin-top: 10px;
  }

  /*ACERCA DE MI*/
  #acercami .yeii {
    height: 530px;
  }
  #acercami h2 {
    font-size: 37px;
  }
  #acercami .acerca-de-mi {
    font-size: 20px;
  }
  #acercami .boxing .name {
    font-size: 20px;
  }
  #acercami .boxing .fecha {
    font-size: 14px;
  }
  #acercami .box2 img {
    height: 130px;
    width: 140px;
  }
  #acercami .box1 img {
    height: 130px;
    width: 140px;
  }
  /*EXPERIENCIA*/
  #experiencia h2 {
    font-size: 37px;
  }
  /*MIS HABILIDADES*/
  #mishabilidades h2 {
    font-size: 37px;
  }
  #mishabilidades .contenido .porcentaje {
    display: flex;
    gap: 100px;
    position: relative;
    bottom: 30px;
    right: -30px;
    height: 110px;
  }
  #mishabilidades .contenido .porcentaje h3 {
    font-size: 60px;
  }
  #mishabilidades .contenido .porcentaje p {
    font-size: 28px;
    position: relative;
    top: 55px;
  }
  /*PORTAFOLIO*/
  #miportafolio {
    padding: 0;
    margin: 90px;
  }
  #miportafolio .imges {
    gap: 17px;
  }
  /*1°*/
  #miportafolio .imgi img {
    height: 240px;
    width: 150%;
  }
  .boxii {
    height: 235px;
    width: 400px;
  }
  /*2°*/
  #miportafolio .imigu img {
    height: 235px;
    width: 90%;
  }
  .boxuu {
    height: 220px;
    width: 380px;
  }
  /*3°*/
  #miportafolio .img3 .imige img {
    height: 250px;
    width: 360px;
    margin-top: -40px;
  }
  .boxee {
    height: 220px;
    width: 400px;
    margin-top: -270px;
  }
}

/*728*/
@media (max-width: 728px) {
  * {
    padding: 0;
  }
  /*NAV Y HEADER*/
  #hero button {
    display: none;
  }
  #hero .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    z-index: 10;
  }
  #hero {
    font-size: 14px;
    margin-left: 55px;
    position: relative;
    z-index: 10;
  }
  header {
    height: 430px;
    padding: 0;
    margin: 0;
  }
  .one h1 {
    font-size: 3rem;
    position: relative;
    z-index: 10;
  }
  .one .parrafo1 {
    font-size: 25px;
    position: relative;
    z-index: 10;
  }
  .one .parrafo2 {
    font-size: 22px;
    position: relative;
    z-index: 10;
  }
  .one .iconitos {
    font-size: 30px;
    right: 50px;
    position: relative;
    z-index: 10;
  }
  .padre .two img {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0%;
    margin-top: 30px;
  }
  .header .padre .box {
    height: 400px;
    width: 500px;
    position: relative;
    left: 30%;
    top: -90%;
  }
  #mishabilidades .contenido .porcentaje {
    right: -5px;
  }
  /*ACERCA DE MI*/
  #acercami .yeii {
    height: 430px;
  }
  #acercami h2 {
    font-size: 30px;
  }
  #acercami .acerca-de-mi {
    font-size: 15px;
  }
  #acercami p {
    font-size: 19px;
  }
  #acercami .boxing .name {
    font-size: 17px;
  }
  #acercami .boxing .fecha {
    font-size: 14px;
  }
  #acercami .box2 img {
    height: 120px;
    width: 130px;
    font-size: 100%;
  }
  #acercami .box1 img {
    height: 120px;
    width: 130px;
  }
  /*EXPERIENCIA*/
  #experiencia .box1 {
    gap: 120px;
  }
  #experiencia .box2 {
    gap: 120px;
  }
  #experiencia .box3 {
    gap: 100px;
  }
  #experiencia h2 {
    font-size: 30px;
  }
  #experiencia .box1 img {
    height: 100px;
  }
  #experiencia .box2 img {
    height: 100px;
  }
  #experiencia .box3 img {
    height: 100px;
  }
  #experiencia .box1 .info {
    position: relative;
    left: -70px;
  }
  #experiencia .box2 .info {
    position: relative;
    left: -70px;
  }
  #experiencia .box3 .info {
    position: relative;
    left: -50px;
    bottom: 40px;
  }
  #experiencia .box1 .info h3 {
    font-size: 23px;
    position: relative;
    top: 25px;
  }
  #experiencia .box2 .info h3 {
    font-size: 23px;
    position: relative;
    top: 23px;
  }
  #experiencia .box3 .info h3 {
    font-size: 23px;
    position: relative;
    top: 23px;
  }
  #experiencia .box1 .info p {
    font-size: 12px;
  }
  #experiencia .box2 .info p {
    font-size: 13px;
  }
  #experiencia .box3 .info p {
    font-size: 13px;
  }
  #experiencia .box1 .year {
    font-size: 21px;
  }
  #experiencia .box2 .year {
    font-size: 21px;
  }
  #experiencia .box3 .year {
    font-size: 21px;
  }
  /*MIS HABILIDADES*/
  #mishabilidades h2 {
    font-size: 30px;
  }
  #mishabilidades .contenido .porcentaje {
    display: flex;
    gap: 100px;
    position: relative;
    bottom: 0px;
    right: -150px;
    height: 110px;
  }
  #mishabilidades .contenido .porcentaje h3 {
    font-size: 40px;
  }
  #mishabilidades .contenido .porcentaje p {
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 30px;
  }
  /*PORTAFOLIO*/
  #miportafolio {
    padding: 0;
    margin: 10px;
  }
  #miportafolio .imges {
    gap: 100px;
  }
  /*1°*/
  #miportafolio .imgi img {
    height: 310px;
    width: 147%;
  }
  .boxii {
    height: 300px;
    width: 495px;
  }
  /*2°*/
  #miportafolio .imigu img {
    height: 330px;
    width: 92%;
  }
  .boxuu {
    height: 310px;
    width: 500px;
  }
  /*3°*/
  #miportafolio .img3 .imige img {
    height: 300px;
    width: 460px;
    margin-top: -50px;
  }
  .boxee {
    height: 275px;
    width: 500px;
    margin-top: -320px;
  }
  /*CONTACTO*/
  .fot h2 {
    font-size: 30px;
  }
  .container {
    gap: 100px;
  }
  #footer .container .number {
    font-size: 14px;
  }
  .number img {
    height: 70px;
    width: 70px;
  }
  .number h3 {
    color: #ffffff;
    font-size: 22px;
  }
  .number p {
    color: #ffffff;
    margin-top: -15px;
  }
  #footer .container .email {
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .email img {
    height: 70px;
    width: 70px;
  }
  .email h3 {
    color: #ffffff;
    font-size: 22px;
  }
  .email p {
    color: #ffffff;
    margin-top: -15px;
  }
}
/*570*/
@media (max-width: 576px) {
  * {
    padding: 0px;
  }
  #hero {
    padding: 0px;
    margin-left: 50px;
    margin-top: 17px;
  }
  #hero .nav-toggle {
    color: #e4cece;
    display: block;
    justify-content: flex-end;
    padding: 0px;
    font-size: 45px;
    cursor: pointer;
    border: none;
    position: fixed;
    margin-left: -300px;
    background-color: #1f1d2c;
    position: relative;
    left: -80px;
  }
  #hero a {
    font-size: 20px;
  }
  #hero .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    background-color: #838fe7;
    position: fixed;
    width: 50%;
    top: 60px;
    height: 100%;
    overflow-y: auto;
    left: 100%;
  }
  #hero .visible {
    left: 0;
  }
  #hero .lista {
    line-height: 140px;
    list-style: none;
  }
  #hero .casa {
    color: #e5e5e5;
  }
  #hero .navi {
    color: #1f1d2c;
  }
  /*HEADER*/
  .header {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 600px;
    overflow: hidden;
  }
  header .padre {
    margin: 0;
  }
  .one h1 {
    font-size: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
  }
  .one .parrafo1 {
    font-size: 15px;
    margin-left: 10%;
  }
  .one .parrafo2 {
    font-size: 15px;
    margin-left: 10%;
  }
  .header .one .iconitos {
    display: flex;
    font-size: 15px;
    position: relative;
  }
  .header .one .iconitos .icons {
    margin-left: -20px;
    font-size: 28px;
  }
  .padre {
    position: relative;
  }
  header .padre .two img {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 10%;
    margin-top: 30px;
    z-index: 10;
  }
  .header .padre .box {
    height: 500px;
    width: 240px;
  
  }
  /*ACERCA DE MI*/
  #acercami .yeii {
    height: 530px;
    width: 400px;
    margin: 0px;
    padding: 0px;
  }
  #acercami h2 {
    font-size: 25px;
  }
  #acercami .acerca-de-mi {
    font-size: 11px;
  }
  #acercami .boxing {
    display: block;
    flex-direction: column;
  }
  #acercami .boxing .box1 img {
    height: 70px;
    width: 70px;
  }
  #acercami .boxing .box2 img {
    height: 70px;
    width: 70px;
  }
  #acercami .boxing .name {
    font-size: 17px;
  }
  #acercami .boxing .fecha {
    font-size: 9px;
  }
  /*EXPERIENCIA**/
  #experiencia .box1 {
    gap: 100px;
    margin-top: -50px;
    margin-left: 20%;
  }
  #experiencia .box2 {
    gap: 114px;
    margin-top: -50px;
    margin-left: 25%;
  }
  #experiencia .box3 {
    gap: 100px;
    margin-top: -50px;
    margin-left: 20%;
  }
  #experiencia h2 {
    font-size: 25px;
  }
  #experiencia .box1 img {
    height: 50px;
  }
  #experiencia .box2 img {
    height: 50px;
  }
  #experiencia .box3 img {
    height: 50px;
  }
  #experiencia .box1 .info {
    position: relative;
    left: -80px;
  }
  #experiencia .box2 .info {
    position: relative;
    left: -85px;
    top: -19px;
  }
  #experiencia .box3 .info {
    position: relative;
    left: -73px;
    bottom: 40px;
  }
  #experiencia .box1 .info h3 {
    font-size: 15px;
    position: relative;
    top: 1-px;
  }
  #experiencia .box2 .info h3 {
    font-size: 15px;
    position: relative;
    top: -1px;
  }
  #experiencia .box3 .info h3 {
    font-size: 15px;
    position: relative;
    top: -1px;
  }
  #experiencia .box1 .info h4 {
    font-size: 9px;
    position: relative;
    top: 11px;
  }
  #experiencia .box2 .info h4 {
    font-size: 9px;
    position: relative;
    top: -15px;
  }
  #experiencia .box3 .info h4 {
    font-size: 9px;
    position: relative;
    top: -11px;
  }
  #experiencia .box1 .info p {
    font-size: 7px;
    position: relative;
    top: 3px;
  }
  #experiencia .box2 .info p {
    font-size: 7px;
    position: relative;
    top: -23px;
  }
  #experiencia .box3 .info p {
    font-size: 7px;
  }
  #experiencia .box1 .year {
    font-size: 10px;
    position: relative;
    right: 100px;
  }
  #experiencia .box2 .year {
    font-size: 10px;
    position: relative;
    right: 110px;
  }
  #experiencia .box3 .year {
    font-size: 10px;
    position: relative;
    right: 90px;
  }
  /*MIS HABILIDADES*/
  #mishabilidades .global {
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  #mishabilidades h2 {
    font-size: 25px;
  }
  #mishabilidades .cuadrado {
    height: 600px;
    width: 550px;
    overflow: hidden;
    white-space: nowrap;
  }
  #mishabilidades .contenido .porcentaje {
    gap: 30px;
    position: relative;
    bottom: 0px;
    right: -50px;
    height: 110px;
  }
  #mishabilidades .contenido .porcentaje h3 {
    font-size: 30px;
  }
  #mishabilidades .contenido .porcentaje p {
    font-size: 17px;
    position: relative;
    top: 20px;
  }
  /*MI PORTAFOLIO*/
  #miportafolio {
    padding: 0;
    margin: 15px;
    height: 1040px;
  }
  #miportafolio h2 {
    font-size: 25px;
  }
  #miportafolio .imges {
    gap: 100px;
  }
  /*1°*/
  #miportafolio .imgi img {
    height: 200px;
    width: 140%;
  }
  .boxii {
    height: 200px;
    width: 320px;
  }
  /*2°*/
  #miportafolio .imigu img {
    height: 200px;
    width: 88%;
  }
  .boxuu {
    height: 200px;
    width: 320px;
  }
  /*3°*/
  #miportafolio .img3 .imige img {
    height: 240px;
    width: 280px;
    margin-bottom: 280px;
  }
  .boxee {
    height: 230px;
    width: 320px;
    margin-top: -540px;
  }
  /*CONTACTO*/
  #footer {
  }
  .fot h2 {
    font-size: 25px;
    justify-content: start;
  }
  #footer .container {
    display: block;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 30%;
  }
  .container {
    gap: 100px;
  }
  #footer .container .number {
    font-size: 9px;
  }
  .number img {
    height: 50px;
    width: 50px;
  }
  .number h3 {
    font-size: 17px;
  }
  .email img {
    height: 50px;
    width: 50px;
  }
  .email h3 {
    font-size: 17px;
  }
  .email p {
    margin-top: -15px;
  }
}
